* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    cursor: none;
}

.body {
    background-color: black;
}

.container {
    background-color: black;
    text-align: center;
}

.labirynth {
    height: 924px;
    width: 1890px;
}

#kolobok {
    position: absolute;
    left: 16px;
    top: 43px;
    width: 40px;
    height: 40px;
    transition: left 0.4s, top 0.4s;
}